@font-face {
  font-family: MonoFont;
  src: url("./assets/fonts/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: Monsterrat;
  src: url("./assets/fonts/Montserrat-VariableFont.ttf")
}

.ascii-art {
  font-family: MonoFont !important;
  font-size: 8px;
  line-height: normal;
  text-align: right;
  white-space: pre;
  
  /* 
    make the text unselectable, helps with prettying things up.
  */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}